@model MedManager.ViewModels.EditMedViewModel

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Medication</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="None" class="text-danger"></div>
            <input type="hidden" asp-for="Med.ID" />
            <div class="form-group">
                <label asp-for="Med.Name" class="control-label"></label>
                <input asp-for="Med.Name" class="form-control" />
                <span asp-validation-for="Med.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Med.Dosage" class="control-label"></label>
                <input asp-for="Med.Dosage" class="form-control" />
                <span asp-validation-for="Med.Dosage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Med.Notes" class="control-label"></label>
                <input asp-for="Med.Notes" class="form-control" />
                <span asp-validation-for="Med.Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Med.TimesXDay" class="control-label"></label>
                <input asp-for="Med.TimesXDay" class="form-control" />
                <span asp-validation-for="Med.TimesXDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Med.RefillRate" class="control-label"></label>
                <input asp-for="Med.RefillRate" class="form-control" />
                <span asp-validation-for="Med.RefillRate" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
